
.form-container {
  font-family: 'Open Sans', sans-serif;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  .form-group {
    margin-bottom: 2em;
  }
  
  .label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #24527a;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
    font-size: 14px;
    box-sizing: border-box;
    box-shadow: none;
}
  
  
  .input:focus {
    border-color: #007bff;
    outline: none;
    transition: border-color 0.3s ease;
}
  
.error {
  margin-top: 5px;
  color: rgb(245, 41, 41);
}
  
.submit-button {
  width: 100%;
  padding: 12px;
  background-color: rgb(31, 126, 210);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
  transition:0.3s ease;
}


/*Shake animation on error*/
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.form-container.shake {
  animation: shake 0.5s ease-in-out;
}
