/*GRADIENT ANIMATION ACROSS THE APP*/

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(200deg, #c7f5fe, #eab4f8, #f3f798);
    background-size: 400% 400%;
    animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/*END OF GRADIENT ANIMATION ACROSS THE APP*/

/*ANIMATION - FADE IN*/
.home-container {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


/*END OF ANIMATION FADE IN*/

/*HEADERS STYLING*/

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 2em;
    color: #24527a;
}

.color-text {
    color: #467dad;
}

/*END OF HEADERS STYLING*/