/*GENERAL STYLING + SLIDE IN ANIMATION*/

body {
    font-family: 'Open Sans', sans-serif;
}

.summary-container {
    position: relative;
    transform: translateY(-100%);
    animation: slideIn 0.5s ease-in-out forwards;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

/*END OF GENERAL STYLING + ANIMATION*/


/*HEADER STYLING*/
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #ffffff;
}

h2 {
    font-weight: bold;
    font-size: 2em;
    margin-top: 5em;
}

h3 {
    font-size: 1.5em;
}

strong {
    color: rgb(28, 96, 125);

}

p {
    color: rgb(109, 109, 109);
    
}


/*END OF HEADER STYLING*/

/*CONTAINER*/

.center-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;  
    height: 25vh;  
}

.submitted-information {
    background-color: #ffffff;
    width: 500px;
    padding: 2em;
    border-radius: 30px;
    text-align: left;
    position: absolute;
}

/*END OF CONTAINER*/


